*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image/honkai-impact-3rd-game-s7.jpg);
background-size: cover;
background-position: center;
padding: 10px 10%;
color: #fff;
}

.hero h3{
    margin-top: 10%;
    font-weight: 400;
    font-size: 30px;
}

.hero h1{
    margin-top: 30px;
    font-size: 50px;
}

.hero p{
    margin: 10px 0 50px;
}

form{
    background: #fff;
    display: flex;
    width: fit-content;
}

form input{
    border: 0;
    outline: none;
 padding: 10px 20px;
    width: 400px;
    font-size: 16px;
  
}

form button{
background: rgba(252, 5, 13, 0.467);
border: none;
outline: none;
width: 90px;
height: 60px;
cursor: pointer;
}
